<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Vue Starter</title>
</head>
<body>
  <section id = "app">
    <p v-if="hours < 12">Good Morning!</p>
    <p v-if="hours >= 12 && hours < 18">Good Afternoon!</p>
    <p v-if="hours >= 18">Good Evening!</p>
  </section>
  <script src="https://unpkg.com/vue"></script>
  <script>

    new Vue({
      el: '#app',
      created() {
        console.log('hello world')
      },
      data: {
        hours: new Date().getHours()
      }
    });
  </script>
</body>
</html>